table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td:nth-child(3) {
    width: 5%; /* Adjust this value as needed */
}
